/* RESET / */
* {
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 0 !important; }

main {
  text-align: center; }

/* BUTTONS */
.button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #404040;
  box-sizing: border-box;
  width: 200px;
  color: #606060;
  background-color: white;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 500ms; }

.button:hover {
  background-color: #d8d8d8;
  color: #606060; }

/* GALERIA */
.galeria {
  max-width: 100%; }

.galeriaTitulos {
  position: absolute;
  z-index: 100;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  transition: all 300ms; }

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "area4 area5 area3" "area6 area7 area8"; }

.familia {
  grid-area: area3;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  overflow: hidden; }

.bodas {
  grid-area: area4;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  overflow: hidden; }

.estudio {
  grid-area: area5;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  overflow: hidden; }

.nosotros {
  grid-area: area6;
  display: flex;
  justify-content: center;
  align-items: center; }

.servicios {
  grid-area: area7;
  display: flex;
  justify-content: center;
  align-items: center; }

.contacto {
  grid-area: area8;
  display: flex;
  justify-content: center;
  align-items: center; }

/* LINK IMAGENES */
.link {
  display: flex;
  align-items: center;
  justify-content: center; }

/* IMAGENES */
.blend {
  opacity: 75%;
  transition: all 700ms; }

.blend:hover {
  opacity: 50%; }

/* ////////////NOSOTROS//////////// */
/* FLEX BOX */
.flexNosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

/* IMAGEN */
.fotoNosotros {
  padding: 5px;
  width: 70%; }

/* TEXTO */
.parrafoNosotros {
  text-align: left;
  line-height: 28px;
  color: #606060;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none; }

/* ///////////////// SERVICIOS ////////////////// */
/* FOTO */
/* TEXTOS */
.row__h3 {
  color: #497db6;
  font: normal 14px "Muli", sans-serif;
  font-weight: 700;
  text-align: left;
  padding: 10px;
  padding-top: 2rem; }

.row__h2 {
  margin-top: 0;
  color: #404040;
  font: normal 14px "Muli", sans-serif;
  letter-spacing: -0.5px;
  font-size: 24px;
  /* line-height: 44px; */
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px; }

.row__p {
  text-align: left;
  line-height: 28px;
  color: #606060;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px; }

.row__photo {
  max-width: 400px;
  display: flex;
  padding-top: 40px;
  /* padding: 20px; */ }

/* //////////// BLOG //////////// */
.containerBlog {
  max-width: 650px !important;
  width: 100%; }

.fotoBlog {
  padding-top: 10px;
  padding-bottom: 10px; }

.row__location {
  font: normal 14px "Muli", sans-serif;
  color: #404040;
  font-size: 22px;
  text-align: left !important;
  line-height: 32px;
  margin-top: 0;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
  padding-top: 20px; }

.row__parrafo, blockquote p {
  font: normal 14px "Muli", sans-serif;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #606060;
  font-size: 16px;
  text-align: left !important;
  line-height: 28px; }

.row__negrita {
  font: normal 14px "Muli", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #404040;
  font-size: 16px;
  text-align: left !important;
  line-height: 28px; }

blockquote {
  position: relative;
  text-align: left; }

blockquote.icono {
  padding: 0 0 0 70px;
  position: relative; }

/* COMILLAS */
blockquote:before {
  position: absolute;
  content: "\201C";
  color: #404040;
  font-size: 120px;
  width: 70px;
  height: 70px;
  bottom: 90px;
  left: 0;
  opacity: 40%;
  font-family: sans-serif; }

blockquote p {
  position: relative;
  font-style: italic; }

.containerContacto {
  max-width: 850px !important;
  width: 100%; }
  .containerContacto__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .containerContacto__item {
    padding-left: 10px;
    padding-right: 10px; }
  .containerContacto__icono {
    font-size: 40px;
    color: #497db6; }
  .containerContacto__p {
    text-align: left;
    line-height: 28px;
    color: #606060;
    font: normal 14px "Muli", sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px; }

.fieldset {
  flex-wrap: wrap;
  display: inline-flex; }
  .fieldset__item {
    padding: 5px; }
  .fieldset__input {
    color: #606060;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #404040;
    box-sizing: border-box; }
  .fieldset__textarea {
    width: 100%;
    height: 80px;
    color: #606060;
    border: 1px solid #606060; }

.title {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px; }
  .title__H2 {
    color: #497db6;
    text-transform: uppercase;
    font: normal 14px "Montserrat", sans-serif;
    line-height: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center; }
  .title__H1 {
    margin-top: 0;
    color: #404040;
    font: normal 32px "Montserrat", sans-serif;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center; }

.footer {
  background-color: #151515; }
  .footer__container {
    background-color: #151515; }
  .footer__flexbox {
    display: flex;
    flex-wrap: wrap;
    background-color: #151515;
    padding-top: 25px;
    padding-bottom: 25px; }
  .footer__item {
    padding-right: 80px; }
  .footer__p {
    font: normal 14px "Muli", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    letter-spacing: normal; }
  .footer__ul {
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0; }
  .footer__li {
    font: normal 14px "Muli", sans-serif;
    font-weight: 500;
    text-align: left;
    color: white;
    list-style: none;
    padding-top: 2px;
    padding-bottom: 2px; }
  .footer__a {
    font: normal 14px "Muli", sans-serif;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
    color: white; }
  .footer__a:hover {
    text-decoration: none;
    color: #c5c5c5; }

.subFooter {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .subFooter__logo {
    width: 30px; }
  .subFooter__p {
    padding: 10px;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #151515; }

/* /////////////// SLIDER ///////////////*/
.carousel-item__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.carousel-item__titulo {
  color: #ffffff;
  font: normal 32px "Montserrat", sans-serif;
  letter-spacing: -0.5px;
  font-weight: 400;
  text-align: center; }

.carousel-item__parrafo {
  color: #ffffff;
  font: normal 14px "Montserrat", sans-serif;
  letter-spacing: -0.5px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center; }

/* /////////////// HEADER /////////////// */
.header {
  background-color: rgba(0, 0, 0, 0.88);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem; }

/* /////////////// MENU /////////////// */
.logoHeader {
  width: 10rem;
  padding-bottom: 2%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2%;
  margin: 0; }

nav {
  background-color: rgba(0, 0, 0, 0) !important; }

.navbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: absolute; }

.nav-link {
  font-family: 'Montserrat';
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-left: 0;
  margin-right: 0;
  transition: color 300ms; }

.dropdown-item {
  font-family: 'Montserrat';
  text-decoration: none;
  color: #606060 !important;
  font-weight: 700 !important;
  font-size: 14px;
  transition: color 300ms; }

.navDivider {
  color: white;
  font-size: 4px;
  opacity: 70%; }

.social {
  width: 1rem; }

@media (min-width: 576px) {
  .nav-link {
    font-family: 'Montserrat';
    text-decoration: none;
    /* color: white !important; */
    font-weight: 700;
    font-size: 14px;
    margin-left: 0;
    margin-right: 0;
    transition: color 300ms;
    border-top: 1px solid rgba(255, 255, 255, 0.08); } }

@media (min-width: 768px) {
  .nav-link {
    font-family: 'Montserrat';
    text-decoration: none;
    /* color: white !important; */
    font-weight: 700;
    font-size: 14px;
    margin-left: 0;
    margin-right: 0;
    transition: color 300ms;
    border-top: 1px solid rgba(255, 255, 255, 0.08); } }

@media (min-width: 992px) {
  .nav-link {
    font-family: 'Montserrat';
    text-decoration: none;
    /* color: white !important; */
    font-weight: 700;
    font-size: 14px;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    transition: color 300ms;
    border-top: none; } }
