// VARIABLES
$colorPrincipal: #404040;
$colorSecundario: #497db6;
$colorTerciario:#606060;
$colorBackground:#151515;
$colorBoton: rgb(255, 255, 255);
$colorHover: rgb(197, 197, 197);
$fontPrincipal: normal 14px'Montserrat',
sans-serif;
$fontTitle: normal 32px'Montserrat',
sans-serif;
$fontSecundario: normal 14px'Muli',
sans-serif;