
/* /////////////// HEADER /////////////// */

header {
    background-color: #151515;
    position: sticky;
    top: 0px;
    z-index: 2000;
}

/* /////////////// MENU /////////////// */

.logoHeader {
    width: 10rem;
    padding-bottom: 2%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2%;
    margin: 0;
}

.navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nav-link {
    font-family: 'Montserrat';
    text-decoration: none;
    /* color: white !important; */
    font-weight: 700;
    font-size: 14px;
    margin-left: 0;
    margin-right: 0;
    transition: color 300ms;
}

.dropdown-item {
    font-family: 'Montserrat';
    text-decoration: none;
    color: #606060 !important;
    font-weight: 700 !important;
    font-size: 14px;
    transition: color 300ms;
}

.navDivider {
    color: rgb(255, 255, 255);
    font-size: 4px;
    opacity: 70%;
}

.social {
    width: 1rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .nav-link {
        font-family: 'Montserrat';
        text-decoration: none;
        /* color: white !important; */
        font-weight: 700;
        font-size: 14px;
        margin-left: 0;
        margin-right: 0;
        transition: color 300ms;  
        border-top: 1px solid rgba(255, 255, 255, 0.08);
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .nav-link {
        font-family: 'Montserrat';
        text-decoration: none;
        /* color: white !important; */
        font-weight: 700;
        font-size: 14px;
        margin-left: 0;
        margin-right: 0;
        transition: color 300ms;
        border-top: 1px solid rgba(255, 255, 255, 0.08);

    }
    
 }

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
    .nav-link {
        font-family: 'Montserrat';
        text-decoration: none;
        /* color: white !important; */
        font-weight: 700;
        font-size: 14px;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        transition: color 300ms;
        border-top: none;
    }
 }
 