/* /////////////// SLIDER ///////////////*/

.carousel-item{
&__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

&__titulo {
    color: #ffffff;
    font:$fontTitle;
    letter-spacing: -0.5px;
    // font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

&__parrafo {
    color: #ffffff;
    font:$fontPrincipal;
    letter-spacing: -0.5px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
}
