// TITULOS

.title {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    &__H2 {
        color: $colorSecundario;
        text-transform: uppercase;
        font: $fontPrincipal;
        line-height: 24px;
        letter-spacing: 2px;
        margin-bottom: 20px;
        text-align: center;
    }

    &__H1 {
        margin-top: 0;
        color: $colorPrincipal;
        font: $fontTitle;
        letter-spacing: -0.5px;
        margin-bottom: 10px;
        line-height: 44px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
}

